@import "tailwindcss";

@theme {
    --color-primary: #ffffff;
    --color-secondary: #000000;
}
@layer {
    html, body {
        margin: 0;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
        color: var(--color-primary);
        background-color: var(--color-secondary);
    }

    html {
        scroll-behavior: smooth;
        scroll-padding-top: 4rem;
    }
}