---
import Layout from '@layouts/Layout.astro';
import Option from '@/components/Option.astro';
import Upload from '@/assets/icons/Upload.astro';
import Button from '@/components/Button.astro';
import Add from '@/assets/icons/Add.astro';

import { GLOBALS } from '@/constants/globals';
---

<Layout>
	<div class="grid grid-cols-6 gap-4">
        <!-- Dropzone -->
        <div class="col-span-6 lg:col-span-3 mb-8 lg:mb-0">
            <h2 class="text-5xl">Imatge</h2>
            <p>Arrossega i deixa anar la imatge que vols optimitzar</p>

            <div id="dropzone" class="flex items-center justify-center overflow-hidden border border-primary rounded-lg h-64 max-h-80 mt-6 cursor-pointer" id="dropzone">
               <Upload id="iconUpload" class="w-16 h-16" />
               <input type="file" id="fileInput" accept="image/*" class="hidden" />
               <div id="preview"></div>
            </div>

            <div class="w-full mt-6">
               <Button id="btnStartResize" class="w-full">
                  <span class="text-lg">Començar a redimensionar</span>
               </Button>
            </div>
        </div>

        <!-- Options -->
         <div class="col-span-full lg:col-span-3">
            <h2 class="text-5xl">Opcions</h2>
            <p>Selecciona les opcions d'optimització que vols aplicar a la imatge</p>

            <div id="optionsContainer">
               <!-- Desktop -->
               <div class="mt-6">
               <Option 
                  device={GLOBALS.DEVICE_DESKTOP}
                  fileName="image_desktop" 
                  maxWidthOrHeight={2560} 
               />
               </div>

               <!-- Tablet -->
               <div class="mt-6">
                  <Option 
                  device={GLOBALS.DEVICE_TABLET}
                  fileName="image_tablet"
                  maxWidthOrHeight={1200}
               />
               </div>

               <!-- Mobile -->
               <div class="mt-6">
                  <Option
                  device={GLOBALS.DEVICE_MOBILE}
                  fileName="image_mobile"
                  maxWidthOrHeight={750}
               />
               </div>
            </div>

            <div class="flex justify-end mt-12">
               <Button id="btnAddOption" class="flex items-center">
                  <Add class="w-4 h-4 mr-2"/>
                  Afegir opció
               </Button>
            </div>
         </div>
    </div>
</Layout>

<script src="/assets/js/browser-image-compression.js" is:inline></script>
<script src="/assets/js/compress.js" is:inline></script>
<script src="/assets/js/index.js" is:inline></script>
