---
import Layout from '@layouts/Layout.astro';
import Option from '@/components/Option.astro';
import Upload from '@/assets/icons/Upload.astro';

import { GLOBALS } from '@/constants/globals';
---

<Layout>
	<div class="grid grid-cols-6 gap-4">
        <!-- Dropzone -->
        <div class="col-span-6 lg:col-span-3 mb-8 lg:mb-0">
            <h2 class="text-5xl">Imatge</h2>
            <p>Arrossega i deixa anar la imatge que vols optimitzar</p>

            <div id="dropzone" class="flex items-center justify-center overflow-hidden border border-primary rounded-lg h-64 max-h-80 mt-6 cursor-pointer" id="dropzone">
               <Upload id="iconUpload" class="w-16 h-16" />
               <input type="file" id="fileInput" accept="image/*" class="hidden" />
               <div id="preview"></div>
            </div>
        </div>

        <!-- Options -->
         <div class="col-span-full lg:col-span-3">
            <h2 class="text-5xl">Opcions</h2>
            <p>Selecciona les opcions d'optimització que vols aplicar a la imatge</p>

            <!-- Desktop -->
            <div class="mt-6">
				<Option 
					device={GLOBALS.DEVICE_DESKTOP}
					fileName="desktop_image" 
					width={2560} 
					height={1440} 
				/>
            </div>

            <!-- Tablet -->
            <div class="mt-6">
                <Option 
					device={GLOBALS.DEVICE_TABLET}
					fileName="tablet_image"
					width={1024}
					height={768}
				/>
            </div>

            <!-- Mobile -->
            <div class="mt-6">
                <Option
					device={GLOBALS.DEVICE_MOBILE}
					fileName="mobile_image"
					width={375}
					height={667}
				/>
            </div>
         </div>
    </div>
</Layout>

<script type="module">
    const dropzone = document.getElementById('dropzone');
    const fileInput = document.getElementById('fileInput');
    const preview = document.getElementById('preview');

    dropzone.addEventListener('click', () => fileInput.click());

    dropzone.addEventListener('dragover', (e) => {
        e.preventDefault();
        dropzone.classList.add('bg-gray-100');
    });

    dropzone.addEventListener('dragleave', () => {
        dropzone.classList.remove('bg-gray-100');
    });

    dropzone.addEventListener('drop', (e) => {
        e.preventDefault();
        dropzone.classList.remove('bg-gray-100');
        handleFiles(e.dataTransfer.files);
    });

    fileInput.addEventListener('change', (e) => {
        handleFiles(e.target.files);
    });

    function handleFiles(files) {
        if (!files.length) return;
        const file = files[0];
        if (!file.type.startsWith('image/')) return;

        const reader = new FileReader();
        reader.onload = (e) => {
            const iconUpload = document.getElementById('iconUpload');
            iconUpload.classList.add('hidden'); // Oculta l'icona d'upload
            preview.classList.add('w-full', 'h-full')
            preview.innerHTML = `<img src="${e.target.result}" class="w-full h-full object-center object-contain" />`;
        };
        reader.readAsDataURL(file);

        // Aquí puedes guardar el archivo para tratarlo después
        // window.selectedImage = file;
    }
</script>
