---
import { GLOBALS } from '../constants/globals.js';
import Desktop from '@/assets/icons/Desktop.astro';
import Tablet from '@/assets/icons/Tablet.astro';
import Mobile from '@/assets/icons/Mobile.astro';
import Trash from '@/assets/icons/Trash.astro';

interface Props {
    device: string;
    maxWidthOrHeight: number;
    fileName?: string;
}
const { device, maxWidthOrHeight, fileName } = Astro.props;

---
<div class="grid grid-cols-2 gap-2 options-container" data-device={device}>
    <div class="col-span-full flex items-center justify-between gap-2">
        <div class="flex items-center gap-2">
            {
                device === GLOBALS.DEVICE_DESKTOP && <Desktop class="w-8 h-8" />
            }
            {
                device === GLOBALS.DEVICE_TABLET && <Tablet class="w-8 h-8" />
            }
            {
                device === GLOBALS.DEVICE_MOBILE && <Mobile class="w-8 h-8" />
            }
            <h3 class="text-3xl">{device.charAt(0).toUpperCase() + device.slice(1)}</h3>
        </div>
        <div class="btnRemoveOption text-red-600 cursor-pointer">
            <Trash class="w-6 h-6" />
        </div>
    </div>

    <div class="col-span-full sm:col-span-1 text-gray-300">
        <label for="format" class="block text-md ">Nom del fitxer</label>
        <input 
            type="text" 
            id="inpFileName" 
            name="inpFileName" 
            class="mt-1 p-2 block w-full border bg-gray-950 border-primary rounded-md shadow-sm focus:ring-primary focus:border-primary" 
            placeholder="Nom del fitxer" value={fileName || ''}
        >
    </div>
    <div class="col-span-full sm:col-span-1 text-gray-300">
        <label for="format" class="block text-md">Max width or height (px)</label>
        <input 
            type="number" 
            id="inpMaxWidthOrHeight" 
            name="inpWidth" 
            class="mt-1 p-2 block w-full border bg-gray-950 border-primary rounded-md shadow-sm focus:ring-primary focus:border-primary" 
            value={maxWidthOrHeight}
        >
    </div>
</div>