---
import '@styles/global.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width " />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Inici - Pic Optimizer</title>
	</head>
	<body>
		<header>
			<nav class="fixed top-0 left-0 w-full border-b border-primary p-4 bg-secondary">
				<div class="container mx-auto flex justify-start items-center">
					<a href="/" class="text-xl uppercase font-bold">Pic Optimizer</a>
				</div>
			</nav>
		</header>

		<main class="flex justify-center min-h-screen py-30">
        	<div class="container mx-auto px-4">
            	<slot />
        	</div>
    	</main>
	</body>
</html>
